<h1>Links</h1>
<ul>
  <li><h2>Angular Doc</h2></li>
  <li><a target="_blank" href="https://angular.dev/">Angular 17 Doc</a></li>
  <li><a target="_blank" href="https://angular.io/">Classic Angular Doc</a></li>
  <li><h2>Angular Tutorials</h2></li>
  <li><a target="_blank" href="https://angular.dev/tutorials">Official Tutorials</a></li>
  <li><a target="_blank" href="https://www.youtube.com/playlist?list=PLp50dWW_m40W6u4NxWCsQk1F8CmzBI6r0">
    ARC Angular 17 Tutorial for Beginners</a></li>
</ul>
