<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div formGroupName="systemData">
    <h2>System Data</h2>
    <label for="username">User Name:</label>
    <input id="username" type="text" formControlName="username">
    <label for="email">Email:</label>
    <input id="email" type="text" formControlName="email">
  </div>
  <div formGroupName="personalData">
    <h2>Personal Data</h2>
    <label for="firstName">First Name:</label>
    <input id="firstName" type="text" formControlName="firstName">
    <label for="lastName">Last Name:</label>
    <input id="lastName" type="text" formControlName="lastName">
    <label for="sex">Sex:</label>
    <mat-radio-group formControlName="sex">
      <mat-radio-button value="m">male</mat-radio-button>
      <mat-radio-button value="f">female</mat-radio-button>
      <mat-radio-button value="d">other</mat-radio-button>
    </mat-radio-group>
  </div>
  <div formGroupName="addressData">
    <h2>Address Data</h2>
    <label for="address">Address:</label>
    <input id="address" type="text" formControlName="address">
    <label for="postalCode">Postal Code:</label>
    <input id="postalCode" type="text" formControlName="postalCode">
    <label for="city">City:</label>
    <input id="city" type="text" formControlName="city">
    <label for="country">Country:</label>
    <input id="country" type="text" formControlName="country">
  </div>

  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
