.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
}

